<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{evento.title}}">
  <ion-content has-header="true" padding="true" has-bouncing="false">
    
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/rock4.png" />
        <h2>{{evento.title}}</h2>
        <p>{{evento.description}}</p>
      </div>
      
      <div class="item item-body">
        {{evento.tags}}
        
        
      </div>
    </div>
  </ion-content>
</ion-view>
